<div class="row center-align">
    <div class="input-field col s12" id="list_name">
        <input placeholder="Enter your List name" id="list_name" type="text" class="validate">
    </div>
    <div class="list_image col s12">
        <img src="/images/create-bg.jpg" />
    </div>

    <div class="item_list col s12">
        <div class="input-field col s12" id="input_items">
            <input placeholder="Enter your Items" id="input_items" type="text" class="validate">
        </div>
        <div class="items">
            <a class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">add</i></a>
        </div>
         <div class="add_list">
            <a class="btn-large waves-effect waves-light blue">Save my List</i></a>
        </div>
    </div>
</div>
</div>