<form class="form new-list-form">
    <div class="row center-align">
            <div class="input-field col s12">
                <input placeholder="Enter your List name" id="list_name" type="text" class="validate">
            </div>
            <div class="list_image col s12">
                <img src="/images/create-bg.jpg" />
            </div>
        </div>
</form>

<div class="create-card-wrapper">
    <div class="col s12 m9">
        <div class="card">
            <div class="card-content">
                <form class="container" id="item-form">
                    <div class="row">
                        <div id="create-item" class="input-field col s9">
                            <textarea id="textarea1" class="materialize-textarea" required></textarea>
                            <label for="textarea1">Items you want to add to your list</label>
                        </div>
                        <div class="input-field col m4 offset-m4">
                            <button class="btn waves-effect waves-light" type="button" name="action"
                                onclick="addItem()">add

                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div id="items-container" class="col s12">

</div>


<div id="add-list" class="col s12">
    <button id="listBtn">
        <a class="btn-large waves-effect waves-teal"><i class="fa-regular fa-floppy-disk"></i>&nbsp;&nbsp;&nbsp;Save my
            List</i></a>
    </button>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://kit.fontawesome.com/a3bce9e655.js" crossorigin="anonymous"></script>
<script src="/js/createList.js"></script>