<div class="row">
<div class="input-field col s6" id="list_name">
    <input placeholder="enter your list name" id="list_name" type="text" class="validate">
    <label for="list_name">Enter your List Name</label>
</div>
<div class="list_image">
    <img src="/images/create-bg.avif">
</div>

<container class="item_list"></container>
<div class="items">
      <a class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">add</i></a>

</div>
<div>
    <button class="save" type="save">Save</button>

</div>
</div>
</container>
</div>

{{!-- <div class="container">
    <div class="row">
        <div class="col s12 m7">
            <div class="card small">
                <div class="card-image">
                    <img src="/images/create-bg.avif">
                </div>
                <div class="card-name">
                    <input placeholder="enter your list name" id="list_name" type="text" class="validate">
                    <label for="list_name">Enter your List Name</label>
                </div>
                <div class="card-content">
                    <input placeholder="enter your items" id="items" type="text" class="validate">
                    <label for="items">Enter your items </p>
                </div>
                <div class="card-action">
                    <a href="#">Save</a>
                </div>
            </div>
        </div>
    </div>
</div> --}}