<div id="items" class="row center-align">
<h3>{{listName}}</h3>
{{!-- <p>{{listItems}}</p> --}}
{{#each listItems as |item|}}
    <div id="list_{{@index}}" class="col s12">
        <a class="btn-small">{{item}}</a>
    </div>
{{/each}}
