<div> 
    <h2>Login</h2>
    <input type="text" placeholder="Email">
    <input type="text" placeholder="Password">
    <button>Login</button>
    <h4>If you do not have an account, <a href="/signup">create account</a></h4>
</div>