
<form class="form login-form">
    <h2>Login</h2>
    <input type="text" placeholder="Email" id="email-login">
    <input type="text" placeholder="Password" id="password-login">
    <button type="submit">Login</button>
    <h4>If you do not have an account, <a href="/signup">create account</a></h4>
</form>

<script src="/js/login.js"></script>