<div class="col s12">
    <div class="searchbar" id="form">
        <div class="search-input-field" style="max-width: 400pt;">
            <img class="search-icon" src="../public/images/searchicon.png">
            <input type="text" id="city-input" placeholder="City">
            <div id="searchResults"></div>
        </div>
        <div class="search-input-field" style="max-width: 400pt;">
            <img class="search-icon" src="../public/images/calendaricon.png">
            <input type="date" id="date-input" placeholder="Date">
            <div id="searchResults"></div>
        </div>
        <div class="next-button">
            <button> Next </button>
        </div>

    </div>
</div>