<div>
    <h3>Stored List</h3>
</div>

<div class="stored_list">
<a class="list_1 btn-small">List 1</a>
<a class="list_2 btn-small">List 2</a>
<a class="list_3 btn-small">List 3</a>
<a class="list_4 btn-small">List 4</a>
</div>
