<div id="user-button" class="row center-align">

    <div class="col s12">
    <div id="create-button"  class="waves-effect waves-light btn-large">Create Account
    </div>
    </div>
    <div class="col s12">
    <div id="login-button" class="login-button valign-wrapper waves-effect waves-light btn-large">Log in
    </div>
    </div>
</div>
</div>