
<div class="user-botton col s12">
<div class="create-button waves-effect btn-large">
    <button> Create Account</button>
</div>
<div class="login-button waves-effect btn-large">
    <button> Log in </button>
</div>
</div>