.bg {
   
    background-image: url("../images/Background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.searchbar {
    float: none;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    padding: 14px;
    top: 20%;
    align-items: center;
    flex-basis: 200px;
    gap: 10px 20px;
    margin-top: 10%;
}

.brand-logo {
    margin-left: 5px;
    font-family: 'Edu TAS Beginner', cursive;
}
.navbar {
    -webkit-box-shadow: None;
    box-shadow: None;
}

.search-input-field {
    display: flex;
    border-radius: 30px;
    background-color: rgba(230, 230, 230, 0.5);
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.25);
    width: 60%;
}


.search-icon {
    width: 45px;
    height: 45px;
    position: relative;
}